<% content_for :head do %>

.main_table {
  border: 0px;
  background-color: #FFFFFF;
  width: 900px;
  cell-padding: 3;
  cell-spacing: 3;
}
 
.main_table td {
  width: 300px;
}

.main_table tr {
  height: 300px;


}

#body ul {
    list-style: none;
}
 
#body ul li {
  display: inline-block;
  text-align: left;
  padding: 20px;
  height: 300px;
  width: 300px;
}


<% end %>


<div class="title" align="center"><h1>Welcome to Magz's Portfolio Portal</h1></div>
<table class="main_table" >
  <tr>
    <td><div id="dino_comix"><%= @dino_comix %></div></td>
    <td>Table Cell</td>
    <td>Table Cell</td>
  </tr>
  <tr>
    <td>Table Cell</td>
    <td>Table Cell</td>
    <td>Table Cell</td>
  </tr>
  <tr>
    <td>Table Cell</td>
    <td>Table Cell</td>
    <td>Table Cell</td>
  </tr>
</table>
<p style="font-family:verdana,arial,sans-serif;font-size:10px;"><a href="http://www.quackit.com/html/html_table_tutorial.cfm" target="_top">HTML Tables</a></p>




<script>
$(document).ready(function(){
  $("#dino_comix").html($("#dino_comix .comic").attr("height", 348).attr("width", 500));
  //so, honestly, it might be better to set these attributes via a css sheet (i.e. set the whole thing to display-none and then set .comic to display)
  //but i wanted to show off a bit of jquerying, so i did that instead
  //in case you're unfamiliar:  what i'm doing here is finding the element(s) with class "comic" within the div with id "dino_comix",
  //modifying it's height and width, and then reassigning the contents of the "dino_comix" div to the result
});









$.periodic.defaults.period = 1000;
$.periodic(function() {
  $.get("main/ajax_get_comments", function(data) {
    $("#comments").html(data["comments_html"]);
});



});



</script>
border="0" style="background-color:#FFFFFF" width="900px" cellpadding="3" cellspacing="3"
